APP_NAME="Daily Phone"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=Asia/Jakarta
APP_URL=https://dailyphone.shop

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

LOG_CHANNEL=daily
LOG_LEVEL=error

# Konfigurasi Database MySQL Arenhost
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=dailypho_dailyphone
DB_USERNAME=dailypho_user
DB_PASSWORD=GantiDenganPasswordDatabaseKamu

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=public
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=dailyphone_cache

MAIL_MAILER=smtp
MAIL_HOST=mail.dailyphone.shop
MAIL_PORT=465
MAIL_USERNAME=admin@dailyphone.shop
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="admin@dailyphone.shop"
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"
